<h1> Create new User </h1>

<div class="flex flex-row pgt">
  <form action="">
    <label for="">username</label>
    <input type="text">
    <label for="password">password</label>
    <input type="password">
    <label for="password_conformation">password</label>
    <input type="password">
    <input type="text">
  </form>
</div>